<p>
  Clique no botão abaixo para efetuar o pagamento com o Mercado Pago.
</p>

<p>
<a href="<%= mercado_pago_payment_url_for(payment_method, @order) %>"
  name="MP-Checkout" class="lightblue-M-Ov-ArOn" mp-mode="modal"
  onreturn="paymentReturn">Pagar</a>
</p>

<p id="mercado_pago_banner" style="display: none;">
<%= image_tag 'banner_mercado_pago_lateral.png' %>
</p>

<script>
  SpreeMercadoPago.paymentMethodID = "<%= payment_method.id %>"
</script>

<script type="text/javascript">
    (function(){function $MPBR_load(){window.$MPBR_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;
    s.src = ("https:"==document.location.protocol?"https://www.mercadopago.com/org-img/jsapi/mptools/buttons/":"http://mp-tools.mlstatic.com/buttons/")+"render.js";
    var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPBR_loaded = true;})();}
    window.$MPBR_loaded !== true ? (window.attachEvent ? window.attachEvent('onload', $MPBR_load) : window.addEventListener('load', $MPBR_load, false)) : null;})();
</script>
